<div class="form-group">
  <label for="serverName">Server Name</label>
  <input
    type="text"
    class="form-control"
    type="text"
    id="name"
    [(ngModel)]="serverName"
  />
</div>
<div class="form-group">
  <label for="serverStatus">Server status</label>
  <select type="text" class="form-control" [(ngModel)]="serverStatus">
    <option value="online">Online</option>
    <option value="offline">Offline</option>
  </select>
</div>
<button class="btn btn-primary" (click)="onUpdateServer()">
  Update Server
</button>
